.login_form {
    width: 400px;
    background-color: #f7f0f0;
}

.LoginBox {
    margin-top: 200px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    background-color: #f7f0f0;
    margin-left: 100px;
    width: 700px;
    border-radius: 10px 10px 10px 10px;
}

* {
    background-color: #706f6f;
}

#login_heading {
    background-color: #f7f0f0;
}

.btn {
    margin-left: 4px;
}